-e .
autocorrect
bertopic
gensim
jupyter
jupytext
matplotlib
pandas
pytorch_lightning==2.0.1
pyyaml
scikit-learn
segmentation-models-pytorch
tensorboard
toml
torch==2.0.0
torchvision==0.15.1
transformers==4.28.1
